body {
    background-color: #262626;

}


h1 {
    color: white;
    font-family: fredoka;
    font-size: 96px;
    text-align: center;
    white-space: pre;
}

a {
    color: white;
    font-family: fredoka;
    font-size: 60px;
    text-align: center;
    white-space: normal;
}

.line {
    border-top: 6px solid #3a3a3a; 
    width: 500px; 
    position: absolute;
    top: 185px; 
    left: 1010px; 
}


.vl {
    border-left: 6px solid #3a3a3a;
    height: 500px;
    position: absolute;
    left: 1010px;
    margin-left: -3px;
    top: 185px;
}