body {
    background-color: #262626;

}


h1 {
    color: white;
    font-family: fredoka;
    font-size: 96px;
    text-align: center;
    white-space: pre;
    margin-top: -2vw; 
    margin-bottom: 6vw;
}

p {
    color: white;
    font-family: fredoka;
    font-size: 24px;
    text-align: center;
    white-space: pre;
    margin-top: -11vw; 
}

.line {
    border-top: 0.35vw solid #3a3a3a; 
    width: 35.6vw; 
    position: absolute;
    top: 8.5vw; 
    left: 31.4vw; 
}

.second-line {
    top: 114.65vw;
}

.vl {
    border-left: 6px solid #3a3a3a; 
    height: 2000px; 
    position: absolute;
    left: 31.4vw; 
    margin-left: -3px;
    top: 160px; 
}

.vl-second {
    left: 66.9vw;
}

.container {
    margin-top: 40px; 
    margin-bottom: 1450px; 
}

