body {
    background-color: #262626;

}


h1 {
    color: white;
    font-family: fredoka;
    font-size: 96px;
}

a {
    color: white;
    font-family: fredoka;
    font-size: 60px;
}